## Assignment 3

Imports:

In [136]:
import pandas as pd
import json
import random as r
import numpy as np
from collections import Counter
from itertools import combinations

Loading the 2 given samples:

In [2]:
tweets_1 = []
for line in open('sample_1.json', 'r', encoding='utf8'):
    tweets_1.append(json.loads(line))

In [3]:
tweets_2 = []
for line in open('sample_2.json', 'r', encoding='utf8'):
    tweets_2.append(json.loads(line))

In [34]:
sample_1 = pd.DataFrame(tweets_1)

In [35]:
sample_2 = pd.DataFrame(tweets_2)

Loading the sample of 3000 geolocalized tweets from the end of April

In [32]:
tweets_3 = []
for line in open('sample_3k.json', 'r', encoding='utf8'):
    tweets_3.append(json.loads(line))

In [36]:
sample_3 = pd.DataFrame(tweets_3)

A function to get all the needed information for analysis:

In [158]:
def get_stats(df):
    #ht = [] 
    ht_flat = [] # all hashtags
    ht_pairs = [] # all hashtag pairs
    ht_1 = 0 # no. of tweets with at least one hashtag
    ht_2 = 0 # no. of tweets with more than one hashtag
    media = 0 # no. of tweets containing media
    url = 0 # no. of tweets containing links

    for index, row in df.iterrows():
        if 'urls' in row.entities:
            if len(row.entities['urls']) > 0:
                url += 1
        if 'media' in row.entities:
            if len(row.entities['media']) > 0:
                media += 1
        if 'hashtags' in row.entities:
            if len(row.entities['hashtags']) > 0:
                ht_1 += 1
                ht_this = []
                for h in row.entities['hashtags']:
                    ht_this.append(h['text'])
                    ht_flat.append(h['text'])
                if len(row.entities['hashtags']) > 1:
                    ht_2 += 1
                    for p in combinations(ht_this,2):
                        ht_pairs.append(p)
                #ht.append(ht_this)

    c = Counter(ht_flat)
    c2 = Counter(ht_pairs)
    
    top_50_ht = c.most_common(50) # 50 most frequent hashtags
    #top_20_ht = c.most_common(20)
    top_50_ht_pairs = c2.most_common(50) # 50 most frequent hashtag pairs
    
    return (ht_flat, ht_1, ht_2, media, url, top_50_ht, top_50_ht_pairs)

### Part 1

#### SAMPLE 1

In [159]:
s1_ht, s1_ht_1, s1_ht_2, s1_w_media, s1_w_url, s1_top_50_ht, s1_top_50_ht_pairs = get_stats(sample_1)

In [167]:
s1_no = len(sample_1)
print('* Total number of Tweets:\t {}'.format(s1_no))
print('* Total number and percentage of Tweets that contain at least 1 hashtag: \t{}, \t{}%'.format(s1_ht_1, (100*s1_ht_1/s1_no)))
print('* Total number and percentage of Tweets that contain 2 or more hashtags: \t{}, \t{}%'.format(s1_ht_2, (100*s1_ht_2/s1_no)))
print('* Total number and percentage of Tweets that contain media: \t{}, \t {}%'.format(s1_w_media, (100*s1_w_media/s1_no)))
print('* Total number and percentage of Tweets that contain URLs: \t{}, \t {}%'.format(s1_w_url, (100*s1_w_url/s1_no)))

SAMPLE 1:

* Total number of Tweets:	 30000
* Total number and percentage of Tweets that contain at least 1 hashtag: 	7224, 	24.08%
* Total number and percentage of Tweets that contain 2 or more hashtags: 	3299, 	10.996666666666666%
* Total number and percentage of Tweets that contain media: 	5138, 	 17.126666666666665%
* Total number and percentage of Tweets that contain URLs: 	6911, 	 23.036666666666665%

In [180]:
s1_50_ht_df = pd.DataFrame(s1_top_50_ht, columns = ['hashtag', 'frequency'])
s1_50_ht_df.index += 1
print('*  50 most frequent hashtags:')
s1_50_ht_df

*  50 most frequent hashtags:

                 hashtag  frequency
1            switzerland         98
2         CanYouMakeIt16         81
3                    art         70
4            Switzerland         55
5                   quiz         53
6                 Hiring         53
7         noinonmolliamo         52
8          ODproroga2018         51
9                    Job         46
10                  Jobs         44
11                Geneva         44
12               NANTAIS         43
13  INCLingapSaTondo2016         41
14                   job         40
15              TheVoice         40
16           Controleurs         39
17             CareerArc         39
18                zurich         38
19                NANTES         37
20                  TPMP         37
21                   CFP         33
22         GreenUrbanism         33
23              Abstract         33
24              Deadline         33
25                  May1         33
26                  BATB         32
27                travel         31
28                  lake         31
29          bahnbilderde         28
30           photography         28
31           askbelieber         28
32                 Basel         27
33                Zurich         27
34              Veterans         26
35               TDR2016         26
36                  como         25
37                spring         25
38                  love         24
39                nature         24
40            TPMPAVegas         24
41           farmaciauno         23
42                sconti         23
43                 ggrmc         22
44            Radolfzell         22
45                 swiss         22
46                   LHC         21
47                hiring         21
48                 Sales         21
49                design         21
50             LesAnges8         21

In [182]:
s1_50_p_df = pd.DataFrame(s1_top_50_ht_pairs, columns = ['hashtag pair', 'frequency'])
s1_50_p_df.index += 1
print('*  50 most frequent hashtag pairs:')
s1_50_p_df

*  50 most frequent hashtag pairs:

                       hashtag pair  frequency
1          (GarethBale, GarethBale)         64
2   (ODproroga2018, noinonmolliamo)         44
3                       (Job, Jobs)         42
4              (CFP, GreenUrbanism)         33
5                   (CFP, Abstract)         33
6                   (CFP, Deadline)         33
7                       (CFP, May1)         33
8         (GreenUrbanism, Abstract)         33
9         (GreenUrbanism, Deadline)         33
10            (GreenUrbanism, May1)         33
11             (Abstract, Deadline)         33
12                 (Abstract, May1)         33
13                 (Deadline, May1)         33
14              (Hiring, CareerArc)         29
15                    (job, Hiring)         28
16     (GarethBale11, GarethBale11)         28
17                    (Job, Hiring)         25
18                   (Jobs, Hiring)         25
19            (farmaciauno, sconti)         23
20                 (Job, CareerArc)         21
21                (Jobs, CareerArc)         21
22        (farmaciauno, promozioni)         21
23             (sconti, promozioni)         21
24             (farmaciauno, donna)         20
25                  (sconti, donna)         20
26              (promozioni, donna)         20
27          (farmaciauno, bellezza)         18
28               (sconti, bellezza)         18
29           (promozioni, bellezza)         18
30                (donna, bellezza)         18
31                  (art, iloveart)         18
32                 (job, CareerArc)         17
33               (Veterans, Hiring)         17
34          (Endomondo, endorphins)         17
35                  (art, painting)         17
36                   (art, fineart)         15
37                 (Veterans, Jobs)         14
38           (Radolfzell, Veterans)         14
39                    (art, artwit)         14
40                  (Sales, Hiring)         13
41                      (DJANE, DJ)         12
42                    (hiring, Job)         12
43               (Sales, CareerArc)         12
44                     (1J1P, MPLF)         12
45             (Photo, Photography)         12
46                     (Sales, Job)         12
47                    (Sales, Jobs)         12
48                     (DJANE, DJS)         11
49                  (Basel, Hiring)         11
50                   (hiring, Jobs)         11

#### SAMPLE 2

In [161]:
s2_ht, s2_ht_1, s2_ht_2, s2_w_media, s2_w_url, s2_top_50_ht, s2_top_50_ht_pairs = get_stats(sample_2)

In [178]:
s2_no = len(sample_2)
print('* Total number of Tweets:\t {}'.format(s2_no))
print('* Total number and percentage of Tweets that contain at least 1 hashtag: \t{}, \t{}%'.format(s2_ht_1, (100*s2_ht_1/s2_no)))
print('* Total number and percentage of Tweets that contain 2 or more hashtags: \t{}, \t{}%'.format(s2_ht_2, (100*s2_ht_2/s2_no)))
print('* Total number and percentage of Tweets that contain media: \t{}, \t {}%'.format(s2_w_media, (100*s2_w_media/s2_no)))
print('* Total number and percentage of Tweets that contain URLs: \t{}, \t {}%'.format(s2_w_url, (100*s2_w_url/s2_no)))

* Total number of Tweets:	 30000
* Total number and percentage of Tweets that contain at least 1 hashtag: 	7220, 	24.066666666666666%
* Total number and percentage of Tweets that contain 2 or more hashtags: 	3342, 	11.14%
* Total number and percentage of Tweets that contain media: 	5338, 	 17.793333333333333%
* Total number and percentage of Tweets that contain URLs: 	7033, 	 23.44333333333333%

In [179]:
s2_50_ht_df = pd.DataFrame(s2_top_50_ht, columns = ['hashtag', 'frequency'])
s2_50_ht_df.index += 1
print('*  50 most frequent hashtags:')
s2_50_ht_df

*  50 most frequent hashtags:

                 hashtag  frequency
1            switzerland         95
2         CanYouMakeIt16         92
3                   quiz         67
4         noinonmolliamo         62
5          ODproroga2018         61
6            Switzerland         59
7                    art         45
8                NANTAIS         44
9                 NANTES         43
10                Hiring         43
11           Controleurs         42
12                   Job         42
13                  TPMP         41
14                zurich         39
15              TheVoice         39
16                Zurich         38
17                   LHC         36
18           askbelieber         36
19  INCLingapSaTondo2016         36
20                  Jobs         34
21                Geneva         33
22                travel         32
23                geneva         31
24       ABSCBNFISHSTORY         30
25             CareerArc         29
26                 swiss         27
27                 LNews         27
28            TPMPAVegas         27
29               TDR2016         26
30                 Basel         26
31                   CFP         26
32         GreenUrbanism         26
33                Prince         25
34              srfarena         24
35                   job         24
36              Abstract         24
37              Deadline         24
38                  May1         24
39          bahnbilderde         23
40                  alps         21
41              lausanne         21
42                spring         21
43                  lake         21
44               Amici15         21
45             mountains         20
46            ciaodarwin         20
47                  love         20
48             landscape         20
49              Veterans         19
50         ABSCBNTWOFACE         19

In [184]:
s2_50_p_df = pd.DataFrame(s2_top_50_ht_pairs, columns = ['hashtag pair', 'frequency'])
s2_50_p_df.index += 1
print('*  50 most frequent hashtag pairs:')
s2_50_p_df

*  50 most frequent hashtag pairs:

                       hashtag pair  frequency
1   (ODproroga2018, noinonmolliamo)         46
2                       (Job, Jobs)         33
3          (GarethBale, GarethBale)         28
4                     (Job, Hiring)         26
5                    (Jobs, Hiring)         26
6              (CFP, GreenUrbanism)         26
7                   (CFP, Abstract)         24
8                   (CFP, Deadline)         24
9                       (CFP, May1)         24
10        (GreenUrbanism, Abstract)         24
11        (GreenUrbanism, Deadline)         24
12            (GreenUrbanism, May1)         24
13             (Abstract, Deadline)         24
14                 (Abstract, May1)         24
15                 (Deadline, May1)         24
16              (Hiring, CareerArc)         23
17            (farmaciauno, sconti)         18
18                 (Job, CareerArc)         17
19                (Jobs, CareerArc)         17
20                    (job, Hiring)         17
21        (farmaciauno, promozioni)         17
22             (sconti, promozioni)         17
23             (farmaciauno, donna)         16
24                  (sconti, donna)         16
25              (promozioni, donna)         16
26               (Veterans, Hiring)         15
27  (noinonmolliamo, ODproroga2018)         15
28             (Photo, Photography)         13
29          (farmaciauno, bellezza)         13
30               (sconti, bellezza)         13
31           (promozioni, bellezza)         13
32                (donna, bellezza)         13
33            (motormaniaci, webtv)         12
34           (motormaniaci, sbandy)         12
35                  (webtv, sbandy)         12
36                     (1J1P, MPLF)         12
37                    (art, artwit)         10
38             (motormaniaci, moto)         10
39        (motormaniaci, instamoto)         10
40       (motormaniaci, motorcycle)         10
41                    (webtv, moto)         10
42               (webtv, instamoto)         10
43              (webtv, motorcycle)         10
44                   (sbandy, moto)         10
45              (sbandy, instamoto)         10
46             (sbandy, motorcycle)         10
47                (moto, instamoto)         10
48               (moto, motorcycle)         10
49          (instamoto, motorcycle)         10
50          (Endomondo, endorphins)         10

### Part 2

### 2.3

In [162]:
s3_ht, s3_ht_1, s3_ht_2, s3_w_media, s3_w_url, s3_top_50_ht, s3_top_50_ht_pairs = get_stats(sample_3)

In [185]:
s3_no = len(sample_3)
print('* Total number of Tweets:\t {}'.format(s3_no))
print('* Total number and percentage of Tweets that contain at least 1 hashtag: \t{}, \t{}%'.format(s3_ht_1, (100*s3_ht_1/s3_no)))
print('* Total number and percentage of Tweets that contain 2 or more hashtags: \t{}, \t{}%'.format(s3_ht_2, (100*s3_ht_2/s3_no)))
print('* Total number and percentage of Tweets that contain media: \t{}, \t {}%'.format(s3_w_media, (100*s3_w_media/s3_no)))
print('* Total number and percentage of Tweets that contain URLs: \t{}, \t {}%'.format(s3_w_url, (100*s3_w_url/s3_no)))

* Total number of Tweets:	 3000
* Total number and percentage of Tweets that contain at least 1 hashtag: 	523, 	17.433333333333334%
* Total number and percentage of Tweets that contain 2 or more hashtags: 	293, 	9.766666666666667%
* Total number and percentage of Tweets that contain media: 	371, 	 12.366666666666667%
* Total number and percentage of Tweets that contain URLs: 	1221, 	 40.7%

In [186]:
s3_50_ht_df = pd.DataFrame(s3_top_50_ht, columns = ['hashtag', 'frequency'])
s3_50_ht_df.index += 1
print('*  50 most frequent hashtags:')
s3_50_ht_df

*  50 most frequent hashtags:

           hashtag  frequency
1      switzerland         13
2   MarathonNantes          8
3           travel          6
4              Ale          6
5             Bier          6
6             Beer          6
7            Birra          6
8            Bire          6
9          Cerveza          6
10            Pivo          6
11                        6
12       Craftbeer          6
13      Eurovision          6
14   GameofThrones          5
15          Tatort          5
16          skiing          5
17           perdu          5
18     Switzerland          5
19     photography          4
20             art          4
21       mountains          4
22         schweiz          4
23        Yvelines          4
24          TeamOM          4
25  BBMAsTopSocial          4
26           italy          4
27           Berne          4
28   Liechtenstein          3
29       Polymanga          3
30   photooftheday          3
31        nofilter          3
32        SriLanka          3
33           OMFCN          3
34          france          3
35        chamonix          3
36           Basel          3
37            chat          3
38                   3
39        foodporn          3
40          nature          3
41          italia          3
42          suisse          3
43            love          3
44          winner          3
45           money          3
46            Tips          3
47     picoftheday          2
48        montreux          2
49      Blockchain          2
50          France          2

In [187]:
s3_50_p_df = pd.DataFrame(s3_top_50_ht_pairs, columns = ['hashtag pair', 'frequency'])
s3_50_p_df.index += 1
print('*  50 most frequent hashtags:')
s3_50_p_df

*  50 most frequent hashtags:

                       hashtag pair  frequency
1                       (Ale, Bier)          6
2                       (Ale, Beer)          6
3                      (Ale, Birra)          6
4                      (Ale, Bire)          6
5                    (Ale, Cerveza)          6
6                       (Ale, Pivo)          6
7                         (Ale, )          6
8                  (Ale, Craftbeer)          6
9                      (Bier, Beer)          6
10                    (Bier, Birra)          6
11                    (Bier, Bire)          6
12                  (Bier, Cerveza)          6
13                     (Bier, Pivo)          6
14                       (Bier, )          6
15                (Bier, Craftbeer)          6
16                    (Beer, Birra)          6
17                    (Beer, Bire)          6
18                  (Beer, Cerveza)          6
19                     (Beer, Pivo)          6
20                       (Beer, )          6
21                (Beer, Craftbeer)          6
22                   (Birra, Bire)          6
23                 (Birra, Cerveza)          6
24                    (Birra, Pivo)          6
25                      (Birra, )          6
26               (Birra, Craftbeer)          6
27                 (Bire, Cerveza)          6
28                    (Bire, Pivo)          6
29                      (Bire, )          6
30               (Bire, Craftbeer)          6
31                  (Cerveza, Pivo)          6
32                    (Cerveza, )          6
33             (Cerveza, Craftbeer)          6
34                       (Pivo, )          6
35                (Pivo, Craftbeer)          6
36                  (, Craftbeer)          6
37                    (chat, perdu)          3
38                  (winner, money)          3
39                   (winner, Tips)          3
40                    (money, Tips)          3
41    (bavariannationalmuseum, art)          2
42                    (art, travel)          2
43                    (ski, skiing)          2
44    (switzerland, payerneairbase)          2
45               (chamonix, france)          2
46                  (OMFCN, TeamOM)          2
47  (PatrickSchnidrig, Switzerland)          2
48               (Yvelines, Poissy)          2
49                (whisky, schweiz)          2
50              (Eurovision, Italy)          2

### 2.4